<!DOCTYPE html>
{% load cart %}
{% load custom_filter %}
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <title>Payment</title>
    <link rel="stylesheet" href="{% static 'checkout.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top"
        style="background-color: transparent; backdrop-filter: blur(100px) brightness(.2);">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: cornsilk" href="/">EWear</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color: cornsilk"
                    href="/store/#products"><span>Store</span><span>&nbsp;</span><span><i class="fas fa-store"></i>
                    </span></i></a>
                </li>
              </ul>
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color: cornsilk"
                    href="/cart/"><span>Cart</span><span>&nbsp;</span><span><i class="fas fa-shopping-cart"></i>
                    </span>
                    <span class="badge bg-info">{{request.session.cart.keys|length}}</span>
                  </a>
                </li>
      
                {% if request.session.customer %}
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    style="color: cornsilk;"><span>{{request.session.first_name}}</span><span>&nbsp;</span><span><i
                        class="fas fa-user-circle"></i></span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/profile/"><span>Profile</span><span>&nbsp;</span><span><i
                          class="fas fa-id-card"></i></span></a>
                    <a class="dropdown-item" href="/orders/"><span>Orders</span><span>&nbsp;</span><span><i
                          class="fas fa-luggage-cart"></i></span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout/"><span>Logout</span><span>&nbsp;</span><span><i
                          class="fas fa-sign-out-alt"></i>
                      </span></a>
                  </div>
                </li>
      
                {% else %}
      
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color: cornsilk"
                    href="/signup/"><span>Signup</span><span>&nbsp;</span><span><i class="fas fa-user-plus"></i>
                    </span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" style="color: cornsilk"
                    href="/login/"><span>Login</span><span>&nbsp;</span><span><i class="fas fa-sign-in-alt"></i></span>
                  </a>
                </li>
                {% endif %}
              </ul>
      
            </div>
          </div>
    </nav>

    <div class="container">

        <div class="border rounded border-0 p-5 m-5"
            style="color: cornsilk ; background-color: transparent; backdrop-filter: blur(100px) brightness(.2);">
            <p class="display-4 pl-5 ml-5">Cart Summary</p>
            <hr>
            <table class="table table-sm" style="color: cornsilk;">

                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price|currency}}</td>
                        <td>x{{product|cart_quantity:request.session.cart}}</td>
                        <td>{{product|price_total:request.session.cart|currency}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <hr>

            <div>
                <div class="display-5 alert" style="text-align: center;">Total Payable Amount :
                    {{products|total_cart_price:request.session.cart|currency}}</div>

            </div>
            <div>
                <form action="/save/" method="POST" id="form">
                    {% csrf_token %}
                </form>
            </div>
            <div id="stripe">
                <button type="button" id="checkout-button">Stripe Checkout</button>
            </div>
            <script type="text/javascript">

                // Create an instance of the Stripe object with your publishable API key

                var stripe = Stripe("pk_test_51Ix9A4FYeyDDhekfsJKfzarXpLoIH3RZ4jIRXyBZo6qIWZbk8f1rsREHvmpxNuixhz0t8Aq3KWB3Ag90Wcfr9qiw00RfaRc4Yk");
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');
                var checkoutButton = document.getElementById("checkout-button");
                checkoutButton.addEventListener("click", function () {
                    fetch("/create-checkout-session/", {
                        method: "POST",
                        headers: {
                            'X-CSRFToken': csrftoken
                        }
                    })
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (session) {
                            return stripe.redirectToCheckout({ sessionId: session.id });
                        })
                        .then(function (result) {
                            // If redirectToCheckout fails due to a browser or network   
                            // error, you should display the localized error message to your    
                            // customer using error.message.    
                            if (result.error) {
                                alert(result.error.message);
                            }
                        })
                        .catch(function (error) {
                            console.error("Error:", error);
                        });
                });
            </script>
            <!-- Set up a container element for the button -->
            <div id="paypal-button-container" style="text-align: center;"></div>


            <!-- Include the PayPal JavaScript SDK -->
            <script
                src="https://www.paypal.com/sdk/js?client-id=AcWiOCKKaNY49jacgAS4Afi-yBMXHgvgs_7nVEAmoulYpm5jmi737rmvtXJrG26g6AtmF5IFSA_iBOt-&currency=USD"></script>

            <script>

                var total = '{{products|total_cart_price:request.session.cart}}'


                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({

                    // Set up the transaction
                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: total
                                }
                            }]
                        });
                    },

                    // Finalize the transaction
                    onApprove: function (data, actions) {
                        return actions.order.capture().then(function (details) {
                            // Show a success message to the buyer                       

                            document.getElementById("form").submit()
                        });
                    }


                }).render('#paypal-button-container');
            </script>
        </div>
        <footer class="container-fluid text-center p-2 mt-5 fixed-bottom" style="font-size: 20px; background-color: transparent; backdrop-filter: blur(100px) brightness(.2);">
            <small>
                <span style="font-size: large; color: cornsilk;">Supported Payment</span>
                <span>&nbsp;</span>
                <a href="#" style="color: cornsilk;"><i class="fab fa-cc-stripe fa-2x" id="fab"></i></a>
                <span>&nbsp;</span>
                <a href="#" style="color: cornsilk;"><i class="fab fa-cc-paypal fa-2x" id="fab"></i></a>
                <span>&nbsp;</span>
                <a href="#" style="color: cornsilk;"><i class="fab fa-cc-visa fa-2x" id="fab"></i></a>
                <span>&nbsp;</span>
                <a href="#" style="color: cornsilk;"><i class="fas fa-credit-card fa-2x" id="fas"></i></a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span style="font-size: large; color: cornsilk;">Follow Us On</span>
                <span>&nbsp;</span>
                <a href="#" style="color: cornsilk;"><i class="fab fa-facebook fa-2x" id="fab"></i></a>
                <span>&nbsp;</span>
                <a href="#" style="color: cornsilk;"><i class="fab fa-twitter fa-2x" id="fab"></i></a>
                <span>&nbsp;</span>
                <a href="#" style="color: cornsilk;"><i class="fab fa-instagram fa-2x" id="fab"></i></a>
                <span>&nbsp;</span>
                <a href="#" style="color: cornsilk;"><i class="fab fa-youtube fa-2x" id="fab"></i></a>
                <span>&nbsp;</span>
            </small>
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
            </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
            </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
            </script>


</body>

</html>